footer {
    background-color: #000;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
}



.social {
    margin-bottom: 10px;
    padding-top: 20px;
}

.social a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;

} 

.social a:hover {
    border-bottom: solid 2px white;

} 

.footer_text {
    margin-bottom:  10px;
}