/***** Jeden zamestnanec******/

.one_employer p {
    margin-top: 15px;
}

.one_employer a {
    text-decoration: none;
}
 
.edit_button {
    padding-top: 20px;
}

.back_button {
    padding-top: 20px;
    text-align: center;
}

.zpet {
    border: 1px solid #dd8500;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #dd8500;
    color: black;
}

.zpet a {
    color: #fff;
    font-size: 15px;
    
}



/***** Add Employee *****/

.wrapper {
    height: 80vh;
    background: linear-gradient(black,rgba(0, 0, 0, 0.24)),
                url("../img/firm.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper .new_form{
    text-align: center;
}

.new_form input{
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
}

.new_form button{
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(92, 87, 87);
    color: white;
    margin-top: 20px;
}

.new_form button:hover{
    background-color: white;
    color: rgb(92, 87, 87) ;
    cursor: pointer;
}

/* Employees page */
.employees {
    height: 80vh;
    background: linear-gradient(black,rgba(0, 0, 0, 0.24)),
                url("../img/firm.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.employees h1 {
    color: white;
    border-bottom: 2px solid white;
    text-align: center;
}

.one_employer ul {
    display: flexbox;
    flex-direction: column;
    list-style-type: none;
}

.one_employer ul li {
    margin-top: 15px;
}

.one_employer .employer_name{
    font-size: 20px;
    display: inline-block;
    width: 300px;
    list-style-type: square;
    color: white;
}

.one_employer .employer_info{
    display: inline-block;
}

.one_employer .employer_info a:link,
.one_employer .employer_info a:visited{
    text-decoration: none;
    color: bisque;
}

.one_employer .employer_info a:hover,
.one_employer .employer_info a:active{
    border-bottom: 2px solid bisque;
}

/*Delete employee*/

.delete_form {
    text-align: center;
    padding-top: 20px;
}

.delete_form p {
    padding-bottom: 20px;
}

.delete_form a {
    padding-left: 15px;
}


/*Registarion form*/

.reglog-form {
    height: 80vh;
    background: linear-gradient(black,rgba(0, 0, 0, 0.24)),
                url("../img/firm.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reglog-form h1 {
    color: white;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}

.inputfield {
    margin: 10px;
    text-align: center;
}

.inputfield .form-input {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
}

    /* Java script classes */

.valid {
    color: greenyellow;
    text-align: center;
    font-size: 20px;
}

.invalid {
    color: red;
    text-align: center;
    font-size: 20px;
}
    /* Java script classes end */

.buttonfield {
    margin-top: 30px;
    text-align: center;

}

.registration-button {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(92, 87, 87);
    color: white;
}

.registration-button:hover {
    background-color: white;
    color: rgb(92, 87, 87) ;
    cursor: pointer;
}


