* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reusable */
.row {
    width: 1140px;
    margin: 0 auto;
}

.heading-main h2 {
    text-align: center;
    margin-top: 20px;
}

.heading-main h2:after {
    content: "";
    display: block;
    width: 150px;
    border-bottom: 2px solid #dd7000 ;
    margin: 10px auto ;
}

/* Header */
header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/header.jpg);
    background-size: cover;
    height: 15vh;
}

#logo img {
    width: 120px ;
    height: 120px;
    position: absolute;
    top: 2%;
}

nav ul{
    float: right;
    margin-top: 35px;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    margin-left: 15px;
}

nav ul li a{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}

.btn:link,
.btn:visited {
    padding: 5px 10px;
    color: #fff;
}

.btn:hover,
.btn:active {
    border-bottom: 2px solid #fff;
}

/* About us */

h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.about-us {
    margin-top: 15px;
}

.our_services img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #000;
}

/***** Jeden zamestnanec******/

.one_employer p {
    margin-top: 15px;
}

.one_employer a {
    text-decoration: none;
}

.zpet {
    border: 1px solid #dd8500;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #dd8500;
    color: black;
}

.zpet a {
    color: #fff;
    font-size: 15px;
    
}



/***** Register form *****/

.wrapper {
    max-width: 700px;
    background: #dd7000;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
}

.wrapper .new_form{
    text-align: center;
}

.new_form input{
    text-align: center;
    width: 80%;
    margin-top: 10px;
    padding: 7px;
    font-size: 20;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
}

.new_form button{
    text-align: center;
    width: 80%;
    margin-top: 10px;
    padding: 7px;
    font-size: 20;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    background-color: #dd8500;
    color: #fff;
}

.new_form button:hover{
    color: #000;
    font-weight: bold;
}

/* Employers page */
.one_employer ul {
    list-style-type: none;
}

.one_employer ul li {
    margin-top: 15px;
}

.one_employer .employer_name{
    font-size: 20px;
    display: inline-block;
    width: 300px;
    list-style-type: square;
}

.one_employer .employer_info{
    display: inline-block;
}

.one_employer .employer_info a:link,
.one_employer .employer_info a:visited{
    text-decoration: none;
}

.one_employer .employer_info a:hover,
.one_employer .employer_info a:active{
    border-bottom: 2px solid #000;
}

/* Footer */

footer {
    background-color: #000;
}

.footer_text {
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}

.social {
    font-weight: 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    padding-top: 20px;
}

.social a {
    color: #fff;
    margin: 0 15px;
}



